{% extends "layout.html" %}
{% set active_page = "arbitrage" %}

{% block content %}
<div class="arbitrage">
  <div class="status">
    <h1>STATUS</h1>
    <table class="servers">
      <th>State</th>
      <th>Region</th>
      <th>IP</th>
      {% for exchange in exchanges %}
      <tr>
        <td>{{ "UP" if exchanges[exchange].status else "DOWN" }}</td>
        <td>{{ exchanges[exchange].region }}</td>
        <td>{{ exchanges[exchange].address }}</td>
      </tr>
      {% endfor %}
    </table>
    <table class="coins">
      <th>Currency</th>
      <th>Bid</th>
      <th>Ask</th>
      {% for currency in currencies %}
      <tr>
        <td>{{ currency }}</td>
        <td>{{ currencies[currency].best_bid }}</td>
        <td>{{ currencies[currency].best_ask }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="token">
      <div>{{ token }}</div>
    </div>
  </div>
  <div class="leaderboard">
    <h1>LEADERBOARD</h1>
    <table class="accounts">
      <th>Login</th>
      <th>State</th>
      <th>Score</th>
      <th>Orders</th>
      <th>Packets</th>
      {% for entry in leaderboard %}
      <tr>
        <td>{{ entry.login }}</td>
        <td>{{ entry.status }}</td>
        <td>{{ entry.score }}</td>
        <td>{{ entry.orders }}</td>
        <td>{{ entry.packets }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
